@model EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategori Ekleme Sayfası</h1>
<br />

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Lütfen Kategori Adını Giriniz!")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-success" })
    <br />
    <br />
    @Html.Label("Lütfen Kategori Açıklamasını Giriniz!")
    @Html.TextAreaFor(x => x.CategoryDescription, 15, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-success" })
    <br />
    <br />
    <button class="btn btn-info">Kategori'yi Kaydet</button>
}